header(class='header-nav')
  div(class='col-left')
    a(class='header-logo' href='/')
      img(src='img/logo.png')

  div(class='col-right')
    ul(class='nav-menu-items')
      li
        a(href='/product') Product
      li
        a(href='/solutions') Solutions
      li
        a(href='/explore') Explore
      li
        a(href='/pricing') Pricing
      li
        a(href='/blog') Blog
      li
        a(href='/signin') Sign In
      li
        a(href='/signup') Sign Up
